body {
  background: #f8e8a6;
}

p, h1 {
  text-align: center;
}
a {
  color: green;
  margin: 0px 10px;
}

p {
  margin: 16px;
  
}
footer {
  text-align: center;
}

img {
  max-width: 100%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}
.email-link {
  color: blue;
}
